sm_eigen/lib
*~
*.so
*.pyc
SFM
build
sm_boost/bin/
sm_boost/lib/
sm_matlab/Makefile
sm_matrix_archive/build/
sm_matrix_archive/lib/
sm_console/build/
sm_console/lib/
test.ba
test.xml
sm_doc/doc/html
sm_doc/doc/doxygen.config
bblos-driver/
numpy_eigen/build/
numpy_eigen/lib/
sm_eigen/bin/
sm_eigen/build/
sm_eigen/test.ba
sm_common/build
sm_common/bin
sm_common/lib
sm_kinematics/build
sm_kinematics/bin
sm_kinematics/lib
sm_database/bin/
sm_database/build/
sm_database/test.db
sm_omnicam/
sm_property_tree/bin/sm_property_tree_test
sm_property_tree/build/
sm_matlab/bin/
sm_matlab/build/
sm_matlab/lib/
sm_pose_graph/bin/
sm_pose_graph/lib/
sm_pose_graph/test.graph
sm_property_tree/lib/
sm_property_tree/src/#BoostPropertyTreeImplementation.cpp#
sm_property_tree/test.xml
sm_python/build/
sm_python/lib/
sm_random/build/
sm_random/lib/
sm_timing/bin/
sm_timing/build/
sm_timing/doc/
sm_timing/lib/
sm_boost/build/
sm_opencv/build/
numpy_eigen2/
sm_doc/build
.project
.cproject
.pydevproject
*/.settings/language.settings.xml
*/cmake_install.cmake
*.orig
sm_pose_graph/build/
sm_pose_graph/lib/
sm_database/lib

sm_logging/bin/sm_logging_test
sm_logging/lib/

*.dylib
opencv2
*~
#*
bin
build
lib
*.o
*.so
*.pyc
log_test
