*.orig
.cproject
.project
*~
.pydevproject
*/.settings/org.eclipse.cdt.core.prefs
*/.settings/org.eclipse.cdt.ui.prefs
*/.settings/language.settings.xml
*.pyc
*.so
aslam_backend/bin/
aslam_backend/build/
aslam_backend/lib/
aslam_backend_expressions/bin/
aslam_backend_expressions/build/
aslam_backend_expressions/lib/
aslam_backend_python/build/
aslam_backend_python/lib/
aslam_backend_tutorial/bin/
aslam_backend_tutorial/build/
aslam_backend_tutorial/lib/
sparse_block_matrix/bin/
sparse_block_matrix/build/
sparse_block_matrix/lib/
aslam_backend_design_variables/build/
cmake_install.cmake
LocalBuildType.cmake

.DS_Store
aslam_backend_tutorial/tex/auto/
aslam_backend_tutorial/tex/backend.aux
aslam_backend_tutorial/tex/backend.bbl
aslam_backend_tutorial/tex/backend.blg
aslam_backend_tutorial/tex/backend.log
aslam_backend_tutorial/tex/backend.out
aslam_backend_tutorial/tex/backend.pdf
aslam_backend_tutorial/tex/backend.toc
build/
*~
bin
build
lib
*.o
*.so
*.pyc
.project
.cproject
.pydevproject
*.orig
.#*
sparse_block_matrix/cflags.export
