*.pyc
.cproject
.project
.pydevproject
*/.settings/org.eclipse.cdt.core.prefs
*/.settings/org.eclipse.cdt.ui.prefs
*/.settings/org.eclipse.ltk.core.refactoring.prefs
*/.settings/language.settings.xml
*~
*.so
aslam_spline_design_variables/build/
aslam_splines/bin/
aslam_splines/build/
aslam_splines/lib/
bsplines/bin/
bsplines/build/
bsplines/doc/doxygen.config
bsplines/doc/html/
bsplines/lib/
aslam_splines_python/build/
aslam_splines_python/lib/
*#
#*
.#*
*~
#*
bin
build
lib
*.o
*.so
*.pyc
.project
.cproject
.pydevproject
bsplines_python/work
